html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

h1 {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.user-icon {
  position: absolute;
  border: solid black 1px;
}

.user-icon > img {
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  width: 100px;
  height: 100px;
  pointer-events: none;
}

.user-icon > video {
  height: 100px;
}

.moveable-control-box {
  display: none !important;
}

.speaker {
  position: absolute;
  left: 300px;
  top: 300px;
  width: 50px;
  height: 50px;
}

.speaker > img {
  width: 100%;
  height: auto;
}
